/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-100%); }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}

.animate-delay-400 {
  animation-delay: 0.4s;
}
